pre {
  grid-column: 3 / 6;
  * {
    font: 400 0.8rem/1.5 Inconsolata;
  }
  overflow-x: scroll;
  white-space: pre;
} 

code {
  font: 400 Inconsolata;
}

// Code blocks. Need to be this specific to override the default.
.hljs {
  padding: 1.66rem 1.66rem;
  margin: $margin-figure-code 0;

  @media (max-width: 8.5in) {
    padding: 1rem 1rem;
  }
}