header {
  padding: 1.5rem 0 1.5rem 0;

  .logo {
    font: 700 2.0rem/1.2 "Roboto"; color: $color-text-heading;
  }

  a {
    box-shadow: none;
  }
  span, span > a {
    font: 500 1.4rem/1.2 "Roboto"; color: $color-text-weak;
  }
}

.header-background {
  background-color: $color-background;
  height: 100%;
}

@media (max-width: 8.5in) {
  .header-background {
    padding-bottom: 2rem;
  }
}