h2 { 
  margin-bottom: 0.4rem; 
  margin-top: 2rem;
}

h1 {
  margin-bottom: 1rem;
}



h1           { font: 700 2.0rem/1.2 "Roboto"; color: $color-text-heading; }
h2           { font: 400 1.5rem/1.2 "Roboto"; color: $color-text-heading; }
time         { font: 700 1.0rem/1.2 "Roboto"; color: $color-text-weak; }
h3           { font: 700 1.0rem/1.2 "Roboto"; color: $color-text-strong; }
p            { font: 400 0.95rem/1.5 "Roboto"; color: $color-text; }
summary      { font: 400 0.95rem/1.5 "Roboto"; color: $color-text; }
span         { font: 500 0.90rem/1.5 Inconsolata; color: $color-text-weak; }
figcaption p { font: 400 1.0rem/1.5 "Roboto"; color: $color-text-weak; }
pre {
  * {
    font: 400 0.8rem/1.5 Inconsolata;
  }
} 

code {
  font: 400 Inconsolata;
  background-color: #eee;
}

a { 
  color: $color-text-link;
  box-shadow: inset 0 -0.1rem $color-text-link, 0 0.1rem $color-text-link;
  transition: box-shadow 0.2s;
  &:hover {
    color: $color-text-link-hover;
    box-shadow: inset 0 -0.15rem $color-text-link-hover, 0 0.15rem $color-text-link-hover;
  }
}

// Code blocks. Need to be this specific to override the default.
.hljs {
  padding: 1.66rem 1.66rem;
  margin-top: 1rem;
  margin-bottom: 1rem;

}


@media (max-width: 8.5in) { :root { font-size: 18px; } }
@media (max-width: 5.0in) { :root { font-size: 16px; } }