
$color-background: #eee;

$darken-hover-amount: 10%;

$color-shadow: darkgrey;
$color-primary: hsl(4, 87%, 59%);
$color-accent: darken($color-primary, $darken-hover-amount);

$color-text: hsl(283, 12%, 11%);
$color-text-weak: hsl(283, 8%, 33%);
$color-text-strong: darkgrey;
$color-text-heading: hsl(279, 22%, 15%);
$color-text-link: $color-primary;
$color-text-link-hover: $color-accent;//darken($color-text-link, $darken-hover-amount);

$color-border: lighten($color-text, 70%);

$margin-figure-code: 1rem;