
{{ define "main" }}
  <div class="overview-container">  
    {{ .Content }}
    <ul class="overview-items">
      {{ range .Pages }}
        <li class="overview-item">
          <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
          <span class="date-and-category">{{ .Date.Format "January 2, 2006" }}&nbsp;
            {{ range .Params.categories }} 
              <a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}/"><{{ . }}></a>
            {{ end }}
            {{ range .Params.tags }} 
              <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}/">{{ . }}</a>
            {{ end }}
          <summary>{{ .Summary }}</summary>
        </li>
      {{ end }}
      </ul>
  </div>
{{ end }}
