<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or metadata.title }} | Bargsteen</title>
    <meta name="description" content="{{ description or metadata.description }}">
    <!-- <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet"> -->
    <link href="{{ '/css/style.css' | url }}" rel="stylesheet">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link rel="alternate" href="{{ metadata.jsonfeed.path | url }}" type="application/json" title="{{ metadata.title }}">
    <script>
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        document.documentElement.classList.add('dark')
      } else {
        document.documentElement.classList.remove('dark')
      }
    </script>
  </head>
  <body>
    <div class="flex flex-col min-h-screen min-h-screen-ios">
      <header class="flex flex-col sm:flex-row gap-y-3 p-6 bg-gray-200 dark:bg-gray-900 justify-between">
        <div class="text-center">
          <h1 class="text-4xl sm:text-5xl font-sans font-bold dark:text-white dark:hover:text-indigo-600 hover:text-indigo-600 my-auto transition duration-100 ease-out"><a href="{{ '/' | url }}">Bargsteen</a></h1>
        </div>
        <nav class="flex flex-row justify-center">
          <h1 class="underline dark:text-white dark:hover:text-indigo-600 hover:text-indigo-600 mx-4 my-auto text-xl font-semibold transition duration-100 ease-out"><a href="{{ '/' | url }}">Home</a></h1>
          <h1 class="underline dark:text-white dark:hover:text-indigo-600 hover:text-indigo-600 mx-4 my-auto text-xl font-semibold transition duration-100 ease-out"><a href="{{ '/about' | url }}">About</a></h1>
          <button onclick="toggleDarkMode()" class="dark:text-white text-2xl mx-2 focus:outline-none">☯</button>
        </nav>
      </header>

      <main class="flex-grow dark:bg-gray-800">
        <div class="pt-8 px-3 md:px-0 markdown">
          {{ content | safe }}
        </div>
      </main>

      <footer class="pb-4 pt-7 dark:bg-gray-800 dark:text-white text-center text-sm">Kasper Dissing Bargsteen © 2021</footer>
    </div>

    <!-- Current page: {{ page.url | url }} -->
  </body>
  <script>
    function toggleDarkMode() {
      if (localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
        localStorage.theme = 'light';
        document.documentElement.classList.remove('dark')
      } else {
        localStorage.theme = 'dark';
        document.documentElement.classList.add('dark')
      }
    }
  </script>
</html>
